<p>Basket: Green.1</p>
<div *ngIf="psInventoryShow.excessColsWiNum > 0; else standardInventory">
    <div class="inventory-overloaded">
        <div  *ngFor="let col of psInventoryShow.cols">
            <app-inventory-column [psInventoryColumn]="col"></app-inventory-column>
        </div>
        <div class="excess-workitem-number-x">
            +{{psInventoryShow.excessColsWiNum}}
        </div>
    </div>
</div>

<ng-template #standardInventory>
    <div class="inventory">
        <div  *ngFor="let col of psInventoryShow.cols">
            <app-inventory-column [psInventoryColumn]="col"></app-inventory-column>
        </div>
    </div>
</ng-template>