<div class="output-basket">
    <div class="output-basket-header" [style]="'height:' + uiObHeaderHeight + 'px; width:' + inventoryBoxSize.width + 'px'">
        <div><h3>Output Basket</h3></div>
        <app-flow-stats [displayVerbose]="true" [showTpv]="true"></app-flow-stats>
    </div>
    <div [style]="'height:' + inventoryBoxSize.height + 'px'">
        <app-inventory [wis]=wis [isListOfEndProducts]="true" [inventoryBoxSize]="inventoryBoxSize"></app-inventory>
    </div>
</div>

<!--
<div>
    <br/>
    <br/>
    <br/>
    ob: h={{ obBoxSize.height }}
    w={{ obBoxSize.width }}
    inv: h={{ inventoryBoxSize.height }}
    w={{ inventoryBoxSize.width }}
</div>


<p>wis.length={{ wis.length }}; obBoxSize=w:{{obBoxSize.width}}, h: {{obBoxSize.height}} </p>
-->