.editor-text {
    font-family: Arial, Helvetica, sans-serif;
}

.bold-text {
    font-weight: bold;
}


.button_icon {
    font-size: large;
    padding: 0px;
    border: 0px;
    margin: 2px;
    background: rgb(246, 234, 192);
    vertical-align: middle;
}

button:hover { 
    cursor: pointer; 
}

.flex-multi-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small; 
    text-align: left;
}

.section {
    background-color: rgb(246, 234, 192);
    border-style:solid;
    border-color: rgb(255, 255, 255);
}

.section-padding {
    background-color: rgb(246, 234, 192);
    border-style:solid;
    border-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

.vertically-aligned-property-label {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 3px;
}

.parameter-label-input {
    display: flex;
    justify-content: space-between; 
}

input[type='number']{
    width: 80px;
    text-align: right; 
} 