<form [formGroup]="systemFg" class="editor-text" (ngSubmit)="submitForm()">
    <div class="section">
        <label>System</label>
        <input  type="text" formControlName="id">
        <button class="material-symbols-outlined button_icon" type="submit"
            [disabled]="systemFg.invalid">
            save
        </button>
    </div>

    <!-- PARAMETERS ------------------------------------------------------------------------------------------->
    <div class="section">
        <label for="parameters">Parameters</label>
        <button id="parameters" type="button" class="material-symbols-outlined button_icon" (click)="addParametersHandler()"> arrow_drop_down_circle </button>
        <div class="flex-multi-columns">  
            <div [formGroup]="frontendPresetParametersFg">
                <div *ngIf="frontendPresetToggle"> 
                    <label>Presetting:</label>
                    <div class="parameter-label-input">
                        <label>#Iterations per batch:</label>
                        <input type="number" placeholder=">=1" formControlName="numIterationsPerBatch" min="1">
                    </div>
                    <div class="parameter-label-input">
                        <label>Economics stats interval:</label>
                        <input type="number" placeholder=">=1" formControlName="economicsStatsInterval" min="1">
                    </div>
                </div>
            </div>
            <div [formGroup]="learnAndAdaptParmsFg">
                <div *ngIf="learnAndAdaptToggle"> 
                    <label>Learn and Adapt:</label>
                    <div class="parameter-label-input">
                        <label>Observation Period:</label>
                        <input type="number" placeholder=">=1" formControlName="observationPeriod" min="1">
                    </div>
                    <div class="parameter-label-input">
                        <label>Success Measure Function:</label>
                        <select formControlName="successMeasureFunction">
                            <option *ngFor="let function of successMeasureFunctions" [value]="function">
                            {{ function }} 
                            </option>
                        </select> 
                    </div>
                    <div class="parameter-label-input">
                        <label>Adjustment Factor:</label>
                        <input  type="number" placeholder=">=0.1" formControlName="adjustmentFactor" min="0.1" step="0.1">
                    </div>
                </div>
            </div>
            <div [formGroup]="wipLimitSearchParmsFg">
                <div *ngIf="  wipLimitOptimizeToggle"> 
                    <label>WIP limit optimization:</label>
                    <div class="parameter-label-input">
                        <label>Initial Temperature:</label>
                        <input type="number" placeholder=">=0" formControlName="initialTemperature" min="0" step="10">
                    </div>
                    <div class="parameter-label-input">
                        <label>Degrees per Downhill Step Tolerance:</label>
                        <input type="number" placeholder=">=1" formControlName="degreesPerDownhillStepTolerance" min="1" step="1">
                    </div>
                    <div class="parameter-label-input">
                        <label>Initial Jump Distance:</label>
                        <input type="number" placeholder=">=1" formControlName="initialJumpDistance" min="1" step="1">
                    </div>
                    <div class="parameter-label-input">
                        <label>Measurement Period:</label>
                        <input type="number" placeholder=">=1" formControlName="measurementPeriod" min="1" step="10">
                    </div>
                    <div class="parameter-label-input">
                        <label>WIP Limit Upper Boundary Factor:</label>
                        <input type="number" placeholder=">=1.5" formControlName="wipLimitUpperBoundaryFactor" min="1.5" step="0.1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <label>Value Chains</label>
        <button type="button" class="material-symbols-outlined button_icon" (click)="addValueChainFg()"> add_circle </button>
    </div>

    <!-- VALUE CHAINS ------------------------------------------------------------------------------------------->
    <div formArrayName="valueChains">
        <div class="section" *ngFor="let valueChain of valueChainsFa.controls; let i = index" [formGroup]="valueChain">
            <div>
                <input  type="text" class="bold-text" placeholder="Value chain" formControlName="id">
                <button type="button" class="material-symbols-outlined button_icon" (click)="deleteValueChainFg(i)"> delete_forever </button>
                <app-editor-messages [control]="valueChain.get('id')!" controlName="id"></app-editor-messages>
            </div>
            <div class="flex-multi-columns"> 
                <div class="parameter-label-input">
                    <label>Value-add:</label>
                    <input type="number" placeholder=">=0" formControlName="valueAdd" min="0" step="1"> 
                </div>    
                <div [formGroup]="valueDegradationFg(valueChain)">
                    <div>Value Degradation:</div> 
                    <div class="parameter-label-input">
                        <label>Function:</label>
                        <select formControlName="function">
                            <option *ngFor="let function of valueDegradationFunctions" [ngValue]="function">
                                {{ function }} 
                            </option>
                        </select> 
                    </div>
                    <div class="parameter-label-input">
                        <label>Argument:</label>
                        <input type="number" placeholder="number" formControlName="argument">
                    </div>
                </div>          
                <div [formGroup]="injectionFg(valueChain)">
                    <div>Injection:</div> 
                    <div class="parameter-label-input">
                        <label>Throughput:</label>
                        <input type="number" placeholder=">=0"   formControlName="throughput" min="0" step="0.1">
                    </div>
                    <div class="parameter-label-input">
                        <label>Probability:</label>
                        <input type="number" placeholder="0.1-1.0 " formControlName="probability" min="0.1" max="1" step="0.1">
                    </div>
                </div>          
            </div>          
            <div class="flex-multi-columns"> 
                <div>
                    <div><label> Process Steps </label>  <button type="button" class="material-symbols-outlined button_icon" (click)="addProcessStepFg(processStepsFa(valueChain))"> add_circle </button> </div>
                    <div class="vertically-aligned-property-label">Id:</div>
                    <div class="vertically-aligned-property-label">Norm Effort:</div>
                    <div class="vertically-aligned-property-label">WIP Limit:</div>
                </div>
                <div *ngFor="let processStep of processStepsFa(valueChain).controls; let j = index" [formGroup]="processStep">
                    <button type="button" class="material-symbols-outlined button_icon" (click)="deleteProcessStepFg(valueChain, j)"> delete_forever </button>
                    <div><input class="bold-text" type="text" formControlName="id"></div> 
                    <app-editor-messages [control]="processStep.get('id')!" controlName="id"></app-editor-messages>
                    <div><input type="number" placeholder=">=0"   formControlName="normEffort" min="0" step="1"></div>
                    <div><input type="number" placeholder="0=none, else >=1"     formControlName="wipLimit" min="0" step="1"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- STRATEGIES ------------------------------------------------------------------------------------------->
    <div class="section">
        <label>Globally defined workitem selection strategies</label>
        <button type="button" class="material-symbols-outlined button_icon" (click)="addGloballyDefinedWorkitemSelectionStrategyFg()">add_circle </button>
    </div>
    <div formArrayName="globallyDefinedWorkitemSelectionStrategies">
        <div class="section" *ngFor="let strategy of globallyDefinedWorkitemSelectionStrategiesFa.controls; let k = index" [formGroup]="strategy" >
            <div>
                <input type="text" class="bold-text" placeholder="Strategy Name" formControlName="id">
                <button type="button" class="material-symbols-outlined button_icon" (click)="deleteGloballyDefinedWorkitemSelectionStrategyFg(k)"> delete_forever </button>
            </div>
<!--
            <app-editor-messages [control]="worker.get('assignments')!" controlName="workerAssignments"></app-editor-messages>
-->
            <div class="flex-multi-columns"> 
                <div>
                    <div><label> Sort vectors </label>  <button type="button" class="material-symbols-outlined button_icon" (click)="addSortVectorFg(sortVectorsFa(strategy))"> add_circle </button></div>
                </div>
                <div *ngFor="let sortVector of sortVectorsFa(strategy).controls; let j = index" [formGroup]="sortVector">
<!--
                    {{ sortVector.get("measure")?.value }}
-->
                    <select formControlName="measure">
                        <option *ngFor="let m of workItemSelectionStrategyMeasures" [ngValue]="m">
                            {{ m }} 
                        </option> 
                    </select> 
                    <select formControlName="selectionCriterion">
                        <option *ngFor="let sc of selectionCriteria" [ngValue]="sc">
                            {{ sc }} 
                        </option>
                    </select> 
                    <button type="button" class="material-symbols-outlined button_icon" (click)="deleteSortVectorFg(strategy, j)"> delete_forever </button>
<!--
                    <app-editor-messages [control]="assignment" controlName="workerAssignment"></app-editor-messages>
-->
                </div>
            </div>
        </div>
    </div>

    <!-- WORKERS ------------------------------------------------------------------------------------------->
    <div class="section">
        <label>Workers</label>
        <button type="button" class="material-symbols-outlined button_icon" (click)="addWorkerFg()">add_circle </button>
    </div>
    <div formArrayName="workers">
        <div class="section" *ngFor="let worker of workersFa.controls; let k = index" [formGroup]="worker" >
            <div>
                <input type="text" class="bold-text" placeholder="Worker Name" formControlName="id">
                <button type="button" class="material-symbols-outlined button_icon" (click)="deleteWorkerFg(k)"> delete_forever </button>
            </div>
            <app-editor-messages [control]="worker.get('assignments')!" controlName="workerAssignments"></app-editor-messages>
            <div class="flex-multi-columns"> 
                <div>
                    <div><label> Assignments </label>  <button type="button" class="material-symbols-outlined button_icon" (click)="addWorkerAssignmentFg(workerAssignmentsFa(worker))"> add_circle </button></div>
                </div>
                <div *ngFor="let assignment of workerAssignmentsFa(worker).controls; let l = index" [formGroup]="assignment">
                    <select formControlName="vcIdpsId">
                        <option *ngFor="let vcPs of processStepsOfValueChainsStrings" [ngValue]="vcPs">
                            {{ vcPs }} 
                        </option>
                    </select> 
                    <button type="button" class="material-symbols-outlined button_icon" (click)="deleteAssignmentFg(worker, l)"> delete_forever </button>
                    <app-editor-messages [control]="assignment" controlName="workerAssignment"></app-editor-messages>
                </div>
            </div>
            <div class="flex-multi-columns"> 
                <div>
                    <div><label> Strategies </label>  <button type="button" class="material-symbols-outlined button_icon" (click)="addWorkerStrategyFg(workerStrategiesFa(worker))"> add_circle </button></div>
                </div>
                <div *ngFor="let workerStrategy of workerStrategiesFa(worker).controls; let l = index" [formGroup]="workerStrategy">
                    <select formControlName="woWiSsId">
                        <option *ngFor="let wiSsId of globallyDefinedWorkitemSelectionStrategiesIdsStrings" [ngValue]="wiSsId">
                            {{ wiSsId }} 
                        </option>
                    </select> 
                    <button type="button" class="material-symbols-outlined button_icon" (click)="deleteWorkerStrategyFg(worker, l)"> delete_forever </button>
                    <app-editor-messages [control]="workerStrategy" controlName="workerStrategy"></app-editor-messages>
                </div>
            </div>
        </div>
    </div>
</form>
