<div class="flex-multi-columns">
<!--    <div class="flex-multi-columns"> -->
    <nav class="navbar">
        <img src="../../../assets/LonelyLobster.jfif" alt="Lonely Lobster" height="50">
        <div class="app-title">Lonely Lobster</div>
        <ul class="nav-list">
            <li><a routerLink="home" routerLinkActive="active">File</a></li>
            <li><a routerLink="edit" routerLinkActive="active">Edit</a></li>
            <li><a routerLink="run"  routerLinkActive="active">Run</a></li>
        </ul>
        Currrent System: 
    </nav>
</div>
<router-outlet></router-outlet>

<!-- 
<app-system></app-system>
<app-editor></app-editor>

<app-test-parent></app-test-parent>
-->
