<div class="configLoading">
    <input type="file" class="submitButton" required (change)="onFileSelected($event)"/>
<!-- 

    fileContent.length = {{ fileContent.length }}
    objFromJsonFile.system_id = {{ objFromJsonFile["system_id"] }}
-->
</div>
<div *ngIf="(objFromJsonFile != undefined)" class="ui menu">
    <a routerLink="edit" routerLinkActive="active" class="item">edit</a>
    <a routerLink="run"  routerLinkActive="active" class="item">run</a>
    <router-outlet></router-outlet>
</div>


<!-- 


<app-system></app-system>
<app-editor></app-editor>
-->

<!--
<app-test-parent></app-test-parent>
-->
