

<!-- <div class="flex-multi-columns"> -->
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="flex-strechted-left-to-right">
        <div class="navbar">
            <img src="../../../assets/LonelyLobster.jfif" alt="Lonely Lobster" height="50">
            <span class="app-title">Lonely Lobster</span>
            <a class="material-symbols-outlined" routerLink="home" routerLinkActive="active">home</a>
            <i class="material-symbols-outlined" (click)="fileUpload.click()">upload</i>
            <a class="material-symbols-outlined" routerLink="edit" routerLinkActive="active">edit</a>
            <a class="material-symbols-outlined" routerLink="run"  routerLinkActive="active" [style]="actionsPossible.run ? undefined : greyOut">keyboard_arrow_right</a>
            <i class="material-symbols-outlined" [style]="actionsPossible.downloadConfig ? undefined : greyOut" (click)="onSaveFile()">download</i>
            <i class="material-symbols-outlined" routerLink="events-download" routerLinkActive="active" [style]="actionsPossible.downloadEvents ? undefined : greyOut" (click)="onDownloadEvents()">format_list_numbered</i>
            <i class="material-symbols-outlined" [style]="actionsPossible.discard ? undefined : greyOut" (click)="onDiscard()">delete_forever</i>
<!--             <a class="material-symbols-outlined" routerLink="events" routerLinkActive="active">report</a> -->
            <i class="material-symbols-outlined" [style]="hasEvents() ? undefined : greyOut" (click)="onToggleEventsDisplay()">{{ displayEvents ? "report_off" : "report" }}</i>
        </div>
        <div>
            <div>
                Version: Frontend: {{ version }}
                System: <div class="file-upload">  {{ configAsJson?.system_id || "No system defined yet." }} </div>
                <div class="flex-strechted-left-to-right">
                    <div>Events:</div>
                    <div class="flex-strechted-left-to-right" [style]="latestEventDescAndSevMatIcon.cssStyle">
                        <i class="material-symbols-outlined">{{ latestEventDescAndSevMatIcon.materialIcon }}</i>                    
                        <div>{{ latestEventDescAndSevMatIcon.description }}</div>
                    </div>
                </div>
                <app-events-display *ngIf="displayEvents"></app-events-display>
            </div>
        </div>
        <div>
            <div *ngIf="!userIsLoggedIn" class="flex-pushed-to-the-right">
                <div class="right-padding-20">not logged in</div>
                <span *ngIf="!userIsLoggedIn" class="material-symbols-outlined" (click)="onLogIn()"> login </span>
                <span class="right-padding-20"></span>
            </div>    
            <div *ngIf="userIsLoggedIn" class="flex-pushed-to-the-right">
                <span class="material-symbols-outlined"> account_circle </span>
                <div>{{ loggedInUserName }}</div>
                <span class="right-padding-20"></span>
                <span class="material-symbols-outlined" (click)="onLogOut()"> logout </span>
                <span class="right-padding-20"></span>
            </div>
        </div>
    </div>

<!-- </div> -->
<router-outlet (systemSaved)="updateCanRunDownloadDiscard()"></router-outlet>

<!-- 
<app-system></app-system>
<app-editor></app-editor>

<app-test-parent></app-test-parent>
-->
