<div [style]="'height:' + uiPsHeaderHeight">
    <p>{{ ps.id }}</p>
</div>
<div class="process-step" [style]="'width:' + psBoxSize.width + 'px'">
    <div>
        <app-inventory [wis]="wis" [isListOfEndProducts]="false" [inventoryBoxSize]="inventoryBoxSize"></app-inventory>
    </div>
    <div>
        <app-flow-arrow [flowRate]="ps.workItemFlow" [flowArrowBoxSize]="flowArrowBoxSize"></app-flow-arrow>
    </div>
</div>
<!--
<br/>
<br/>
<p>PS box width =  {{ psBoxSize.width}} </p>
<p>PS box heigth = {{ psBoxSize.height}} </p>
<p>inventory box width = {{ inventoryBoxSize.width}} </p>
-->