<div class="process-step-header" [style]="'height:' + uiPsHeaderHeight + 'px'">
    <p><strong>{{ psWu.ps.id }}</strong> </p>
</div>
<div class="process-step" [style]="'width:' + psBoxSize.width + 'px'">
    <div>
        <app-inventory [wis]="wis" [isListOfEndProducts]="false" [inventoryBoxSize]="inventoryBoxSize"></app-inventory>
    </div>
    <div>
        <app-flow-arrow [flowRate]="psWu.ps.workItemFlow" [flowArrowBoxSize]="flowArrowBoxSize"></app-flow-arrow>
    </div>
</div>
<div class="process-step-workers">
    <div *ngFor="let woUtil of psWu.wosUtil">
        <app-worker-strain [woUtil]="woUtil"></app-worker-strain>
    </div>
</div>
<!--
<br/>
<br/>
<p>PS box width =  {{ psBoxSize.width}} </p>
<p>PS box heigth = {{ psBoxSize.height}} </p>
<p>inventory box width = {{ inventoryBoxSize.width}} </p>
-->