/*
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.flow-stats {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
/*    font-size: small; 
*/
/*  border-style: solid;
    border-color: blue; */
  }
  
  .flow-stat {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-right: 2px;
  }