<div class="flow-stats">
    <div class="flow-stat" [style]="'color: blue'">
        <div *ngIf="displayVerbose">
            <div>CT = </div>
        </div>
        <div>
            <div>{{ flowStatsDisplay.ct }}</div>
        </div>
    </div>

    <div class="flow-stat" [style]="'color: red'">
        <div *ngIf="displayVerbose">
            <div>TPI = </div>
        </div>
        <div>
            <div>{{ flowStatsDisplay.tpi }}</div>
        </div>
    </div>

    <div *ngIf="showTpv" >
        <div class="flow-stat" [style]="'color: green'">
            <div *ngIf="displayVerbose">
                <div>TPV = </div>
            </div>
            <div>
                <div>{{ flowStatsDisplay.tpv }}</div>
            </div>
        </div>
    </div>
</div>
