<div class="flow-stats">
    <div class="flow-stat" [style]="'color: blue'">
        <div *ngIf="displayVerbose">
            <h4>CT:</h4>
        </div>
        <div>
            <h4>{{ flowStatsDisplay.ct }}</h4>
        </div>
    </div>

    <div class="flow-stat" [style]="'color: red'">
        <div *ngIf="displayVerbose">
            <h4>TPI:</h4>
        </div>
        <div>
            <h4>{{ flowStatsDisplay.tpi }}</h4>
        </div>
    </div>

    <div *ngIf="showTpv" >
        <div class="flow-stat" [style]="'color: green'">
            <div *ngIf="displayVerbose">
                <h4>TPV:</h4>
            </div>
            <div>
                <h4>{{ flowStatsDisplay.tpv }}</h4>
            </div>
        </div>
    </div>
</div>
