<h3>-------- test-parent -------- </h3>

<h5>-------- Selecting and reading files -------- </h5>

<!--
<input type="file" required
  [(ngModel)]="filename"
  (change)="onFileSelected($event)">
-->
<input type="file" required 
  (change)="onFileSelected($event)"/>

  <p>File name is: {{filename}}</p>

<!--
<h5>-------- communication with child components -------- </h5>

<p>Counter in complex object: {{ complexObject.counters[0] }}</p>

<button type="button" class="ui mini button"
  (click)="clickHandler()">
  Increment Counter in complex object
</button>
<br/>
<br/>
<br/>


<app-test-child [childCounter]="complexObject.counters[0]" (submitChildCounter)="syncCounters($event)"></app-test-child>
-->

