<div class="value-chain">
    <div class="feeder-section">
    <p><strong> Valuechain:  {{ vc.id }} </strong></p>
    <br>
    <p> Inject:</p>
    <p> TP: 1 </p>
    <p> Prob: 30% </p>

</div>
<!--
        <ngx-slider [(value)]="value" [options]="options" (valueChange)="onSliderChange()"></ngx-slider>
        <div>
            <app-flow-arrow  [flowRate]="value"></app-flow-arrow>
        </div>
-->
    <div *ngFor="let ps of vc.processSteps">
            <app-process-step [ps]="ps" [psBoxSize]="psBoxSize"></app-process-step>
    </div>
</div>
<br/>
<br/>
<p>VC box width =  {{ vcBoxSize.width}} </p>
<p>VC box heigth = {{ vcBoxSize.height}} </p>

