.workitem {
  margin: 1px;
  background-color: rgb(205, 150, 150);
  width: 20px;
  height: 20px;
}
 

.inventory-column {
  display: inline-block;
  align-self: flex-end;
}

.inventory-column-empty {
  width: 20px;
  border: 1px ridge solid-white;
}

.inventory-column-overloaded {
  display: inline-block;
  align-self: flex-end;
  border-bottom: 3px solid red
}

  
.inventory {
  display: flex;
  flex-direction: row;
  border: 1px ridge lightgray;
  background-color: white;
  width: 105px;
  height: 66px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small; 
  text-align: center;
}

.inventory-overloaded {
  display: flex;
  flex-direction: row;
  border: 1px ridge lightgray;
  border-right: 3px ridge red;
  background-color: white;
  width: 105px;
  height: 66px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small; 
  text-align: center;
}