/* Parent Component */
:host {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f0f0f0;
}

.table-container {
    position: absolute; /* Overlay the parent component */
    top: 10px;
    left: 20px;
    max-height: 500px; /* Set the height of the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd;
    border-radius: 8px;

}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
 /* border: 1px solid #ddd;*/    
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0; /* Makes the header sticky */
    z-index: 1;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #f4f4f4;
}
