<!-- <p>events-display works!</p>
 -->


 <div class="table-container">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Time</th>
                <th>Source</th>
                <th>Context</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events" [style]="materialIconAndCssStyle(event.severity).cssStyle" class="list-item" >
                <td><i class="material-symbols-outlined">{{ materialIconAndCssStyle(event.severity).materialIcon }}</i></td>
                <td>{{ event.dateAndtime | date: "H:mm:ss" }}</td>
                <td>{{ event.source }}</td>
                <td>{{ event.context }}</td>
                <td>{{ event.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
