<div class="configLoading">
    <input type="file" class="submitButton" required (change)="onFileSelected($event)"/>
    <div class="errorMessage">{{ backendErrorMessage }}</div>
</div>
<ng-container *ngIf="showSystemState; else loading">
    
    <div class="headerRow">
        <img src="../../../assets/LonelyLobster.jfif" alt="Lonely Lobster" height="100">
 
        <div>
            <div>
                <div class="app-title">
                    <div>Lonely Lobster</div>
                    <div class=version>
                        <div class="version">backend: v{{ systemState.version  }}</div>
                        <div class="version">frontend: v{{ version  }}</div>
                    </div>
                </div>
            </div>
            <div> System: "<strong>{{ systemState.id }}</strong>"</div>
            <div>Time: {{ systemState.time }} </div>

            <label for="numIteration" class="iterations-selector">#iterations:</label>
            <input  type="number" 
                    class="inputFormNumber" 
                    min="1"
                    id="numIteration" 
                    [(ngModel)] = "numIterationsToExecute">

            <button type="button" class="submitButton" (click)="runIterationsHandler()" (keyup.enter)="runIterationsHandler()">
                Run
            </button>
            <button type="button" class="submitButton" (click)="stopIterationsHandler()">
                Stop
            </button>
            <button type="button" class="submitButton" (click)="resetSystemHandler()">
                Reset
            </button>
        </div>    
        <div>
            <app-workers-stats [wosStats]="systemState.workersState" ></app-workers-stats>
        </div>
        <div>
            <app-system-stats [systemStatistics]="systemStatistics" [systemTime]="systemState.time" [statsAreUpToDate]="statsAreUpToDate" (intervalEventEmitter)="changedStatsIntervalHandler($event)"></app-system-stats>
        </div>
    </div>
    <div>
        <div class="valueChainsAndOutputBasket" [style]="'height:' +  vcsBoxSize.height  + 'px'" >

            <div class="valueChains" [style]="'width:' + vcsBoxSize.width + 'px; height:' + vcsBoxSize.height + 'px' ">

                <div *ngFor="let vcExtended of vcsExtended">
                    <app-value-chain [vcExtended]="vcExtended" [vcBoxSize]="vcBoxSize"></app-value-chain>
                </div>
            </div>


            <div class="outputBasket" [style]="'width:' + obBoxSize.width + 'px; ' ">
                <app-output-basket [obExtended]="obExtended" [obBoxSize]="obBoxSize"></app-output-basket>
            </div>

        </div>
 
    </div>

</ng-container>

<ng-template #loading>
    <div class="ui active dimmer">
        <div class="ui large text loader">Select system configuration file ... </div>
    </div>
</ng-template>