<!--
<ng-container *ngIf="systemState$ | async as systemState; else loading">
-->    
<input type="file" required (change)="onFileSelected($event)"/> System ID is: {{systemId}}


<ng-container *ngIf="systemState; else loading">
    
    <div class="headerRow">
        <img src="../../../assets/LonelyLobster.jfif" alt="Lonely Lobster" height="100">
 
        <div>
            <div><strong>Lonely Lobster</strong></div>
            <div> System: "<strong>{{ systemState.id }}</strong>"</div>
            <div> Time:   {{ systemState.time }} </div>
            <label for="numIterations"># iterations per click:</label>
            <input  type="number" 
                    class="inputFormNumber" 
                    min="1"
                    id="numIteration" 
                    [(ngModel)] = "numIterationsToExecute">

            <button type="button" class="submitButton" (click)="nextIterationHandler()">
                Run
            </button>
            <button type="button" class="submitButton" (click)="stopIterationHandler()">
                Stop
            </button>
            <button type="button" class="submitButton" (click)="resetSystemHandler()">
                Reset
            </button>
        </div>    
        <div>
            <app-workers-stats [wosStats]="systemState.workersState" ></app-workers-stats>
        </div>
        <div>
            Bound working capital: {{ systemStatistics.workingCapital}}
            <br/>
            
        </div>
<!--
        <ng-container *ngIf="statsAreUpToDate"; else #statsAreUpToDate>
            <button type="button" class="submitButtonDisabled" (click)="fetchStatisticsHandler()">
                Update Stats
            </button>
        </ng-container>
        <ng-template #statsAreUpToDate>
            <button type="button" class="submitButton" (click)="fetchStatisticsHandler()">
                Update Stats
            </button>
        </ng-template>
-->        
    </div>


    <div>
<!--
        <div class="valueChainsAndOutputBasket" [style]="'height:1000px'" >
-->
        <div class="valueChainsAndOutputBasket" [style]="'height:' +  vcsBoxSize.height  + 'px'" >

            <div class="valueChains" [style]="'width:' + vcsBoxSize.width + 'px; height:' + vcsBoxSize.height + 'px' ">

                <div *ngFor="let vcExtended of vcsExtended">
                    <app-value-chain [vcExtended]="vcExtended" [vcBoxSize]="vcBoxSize"></app-value-chain>
                </div>

<!--
                <div>
                    vcs h={{ vcsBoxSize.height }} w={{ vcsBoxSize.width }}
                </div>
-->
            </div>


            <div class="outputBasket" [style]="'width:' + obBoxSize.width + 'px; ' ">
<!--
                <app-output-basket [obExtended]="obExtended" [obBoxSize]="obBoxSize"></app-output-basket>
-->
                <app-output-basket [obExtended]="obExtended" [obBoxSize]="obBoxSize"></app-output-basket>

            </div>

        </div>
 
    </div>

</ng-container>

<ng-template #loading>
    <div class="ui active dimmer">
        <div class="ui large text loader">Select system configuration file ... </div>
    </div>
</ng-template>
<br/>
<br/>

<!--
<img [src]="filename" alt="file not found" height="100">
<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <div>attach_file</div>
    </button>
</div>
<br/>
<br/>
<p># value-chains = {{ this.numValueChains }}
<p>vcsBoxSize = w: {{ this.vcsBoxSize.width }}, h: {{ this.vcsBoxSize.height }}
<p>vcBoxSize = w: {{ this.vcBoxSize.width }}, h: {{ this.vcBoxSize.height }}

<p>obBoxSize = w: {{ this.obBoxSize.width }}, h: {{ this.obBoxSize.height }}
-->
